>#### Learn how to explore, visualize, and extract insights from data using exploratory data analysis (EDA) in Python.

>Exploratory Data Analysis: Is the process of reviewing and cleaning data to derive insights such as descriptive statistics and corrolation, and generate hypotheses for experiment

>_EDA_ results often inform the next steps for the dataset, whether that be generatting hypotheses, preparing the data for use in a machine learning model, or even throwing the data out and gathering new data.

In [2]:
import pandas as pd
# loading csv file using pandas
planes = pd.read_csv("planes.csv")

In [3]:
print(planes)

           Airline Date_of_Journey    Source Destination  \
0      Jet Airways       9/06/2019     Delhi      Cochin
1           IndiGo      12/05/2019   Kolkata    Banglore
2           IndiGo      01/03/2019  Banglore   New Delhi
3         SpiceJet      24/06/2019   Kolkata    Banglore
4      Jet Airways      12/03/2019  Banglore   New Delhi
...            ...             ...       ...         ...
10655     Air Asia       9/04/2019   Kolkata    Banglore
10656    Air India      27/04/2019   Kolkata    Banglore
10657  Jet Airways      27/04/2019  Banglore       Delhi
10658      Vistara      01/03/2019  Banglore   New Delhi
10659    Air India       9/05/2019     Delhi      Cochin

                       Route Dep_Time  Arrival_Time Duration Total_Stops  \
0      DEL → LKO → BOM → COK    09:25  04:25 10 Jun      19h     2 stops
1            CCU → NAG → BLR    18:05         23:30   5h 25m      1 stop
2            BLR → NAG → DEL    16:50         21:35   4h 45m      1 stop
3                  CCU → BLR    09:00         11:25   2h 25m    non-stop
4            BLR → BOM → DEL    18:55  10:25 13 Mar  15h 30m      1 stop
...                      ...      ...           ...      ...         ...
10655              CCU → BLR    19:55         22:25   2h 30m    non-stop
10656              CCU → BLR    20:45         23:20   2h 35m    non-stop
10657              BLR → DEL      NaN         11:20       3h    non-stop
10658              BLR → DEL    11:30         14:10   2h 40m    non-stop
10659  DEL → GOI → BOM → COK    10:55         19:15   8h 20m     2 stops

                   Additional_Info    Price
0                          No info  13882.0
1                          No info   6218.0
2                          No info  13302.0
3                          No info   3873.0
4      In-flight meal not included  11087.0
...                            ...      ...
10655                      No info   4107.0
10656                      No info   4145.0
10657                          NaN   7229.0
10658                      No info  12648.0
10659                      No info  11753.0

[10660 rows x 11 columns]

In [7]:
print(planes.head())

       Airline Date_of_Journey    Source Destination                  Route  \
0  Jet Airways       9/06/2019     Delhi      Cochin  DEL → LKO → BOM → COK
1       IndiGo      12/05/2019   Kolkata    Banglore        CCU → NAG → BLR
2       IndiGo      01/03/2019  Banglore   New Delhi        BLR → NAG → DEL
3     SpiceJet      24/06/2019   Kolkata    Banglore              CCU → BLR
4  Jet Airways      12/03/2019  Banglore   New Delhi        BLR → BOM → DEL

  Dep_Time  Arrival_Time Duration Total_Stops              Additional_Info  \
0    09:25  04:25 10 Jun      19h     2 stops                      No info
1    18:05         23:30   5h 25m      1 stop                      No info
2    16:50         21:35   4h 45m      1 stop                      No info
3    09:00         11:25   2h 25m    non-stop                      No info
4    18:55  10:25 13 Mar  15h 30m      1 stop  In-flight meal not included

     Price
0  13882.0
1   6218.0
2  13302.0
3   3873.0
4  11087.0

In [8]:
planes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10660 entries, 0 to 10659
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10233 non-null  object
 1   Date_of_Journey  10338 non-null  object
 2   Source           10473 non-null  object
 3   Destination      10313 non-null  object
 4   Route            10404 non-null  object
 5   Dep_Time         10400 non-null  object
 6   Arrival_Time     10466 non-null  object
 7   Duration         10446 non-null  object
 8   Total_Stops      10448 non-null  object
 9   Additional_Info  10071 non-null  object
 10  Price            10044 non-null  float64
dtypes: float64(1), object(10)
memory usage: 916.2+ KB

In [ ]:
planes.value_counts("Duration") # finding the number of duration in each journey

Duration
2h 50m     532
1h 30m     375
2h 45m     329
2h 55m     329
2h 35m     322
          ...
37h 10m      1
36h 25m      1
27h 55m      1
35h 35m      1
30h 15m      1
Name: count, Length: 367, dtype: int64

>A common question about caegorical columns in a dataset is how many data points we have in each category